.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 16px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
    grid-template-columns: 1fr auto 1fr; /* Three columns: logo, nav, right items */
    align-items: center;


}

.shark-logo {
    width: 40%; 
}

.navbar-left {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 80px;
    justify-content: center;
    padding-right: 100px;
    margin: 0;
}

.nav-items li {
    cursor: pointer;
    padding-top: 10px;
    position: relative; /* Add this for underline effect */

}

.nav-items li::after { 
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}

.nav-items li:hover::after {
    width: 100%;
}

.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.navbar-right .icons {
    width: 20px;
    cursor: pointer;
}

.navbar-right .profile {
    width: 35px;
    border-radius: 4px;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}
.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;     /* creates the hidden effect to dropdown*/

}

.navbar .dropdown p {
    font-size: 13px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown{
    display: block;    /* allows the words to appear when you hover*/

}

.nav-dark{
    background: rgb(14, 17, 38);
    
}